.header {
  margin: auto;
  padding-top: 34px;
  max-width: 984px;
  display: flex;
  justify-content: space-between;
}
/*media for header*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    padding: 34px 3% 0 3%;
  }
}
@media screen and (max-width: 425px) {
  .header {
    padding: 20px 5% 0 5%;
  }
}
