.footer__copyright {
  margin:0;
padding:0;
  color: #ffffff;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
}
@media screen and (max-width: 606px) {
  .footer__copyright {
    padding-top: 16px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
    width: 260px;
    text-align: left;
  }
}
