.footer__nav {
  margin: 0;
  padding-bottom: 24px;


  max-width: calc(100% - 2 * 48px);
  height: auto;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 425px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
}

