.place {
  margin: auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: auto 35% 3% 38% auto;
  grid-template-rows: 156px 48px auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: auto 42% 3% 44% auto;
    grid-template-rows: 156px 48px auto;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .place {
    grid-template-columns: auto 44% 3.6% 46% auto;
    grid-template-rows: 50px 48px auto;
  }
}
@media screen and (max-width: 424px) {
  .place {
    margin: 0;

    grid-column: 1;
    grid-row: 1;
    /*grid-template-columns: 5% 90% 5%;*/
    grid-template-columns: 100vw;
    grid-template-rows: auto;
  }
}
