.page {
  /*display: flex;
  justify-content: center;*/
  font-family: Inter;

  background: #2a2c2f;
  color: #ffffff;
  max-width: 1280px;
  height: auto;
}

/*header*/
.header {
  margin: auto;
  padding-top: 34px;
  max-width: 984px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
}
.header__lang-links {
  color: white;
}
.header__lang-link {
  color: #ffffff;
}

/*lead*/
.lead {
  margin: auto;
  padding-top: 58px;
  max-width: 984px;
  /*display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;*/
}
.lead__title {
  margin: auto;
  padding-top: 58px;
  max-width: 720px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;

  /* or 104% */
  text-align: center;

  color: #ffffff;
}
.lead__subtitle {
  margin: auto;
  padding-top: 32px;
  max-width: 620px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #ffffff;
}
/*CLASS BELOW NEEDS TO BE BEM*/
.test-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lead__image {
  margin: auto;
  padding-top: 64px;
  max-width: 984px;
  /*width: 76vw;*/
  height: auto;
}
.lead__caption {
  margin: 0;
  align-self: flex-start;
}
.intro {
  margin: auto;
  max-width: 984px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
}
.intro__title {
  margin: 0;
  padding-top: 92px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  /* or 107% */

  color: #ffffff;
}
.intro__subtitle {
  margin: 0;
  padding-top: 40px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  /* or 142% */

  color: #ffffff;
}
.intro__text {
  margin: 0;
  padding-top: 32px;
  max-width: 690px;
  /*font-family: Inter;*/
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;

  /* or 26px */

  color: #ffffff;
}
.intro__list {
  margin: 0;
  padding: 33px 0 0 0;
  max-width: 690px;
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;

  /* or 150% */

  color: #ffffff;
}

/*gallery
.test-parent {
  display: flex;
  justify-content: center;
}*/
.photo-grid {
  margin: auto;
  max-width: 1280px;

  display: grid;
  padding: 92px 48px 0 48px;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-rows: auto;
  gap: 16px;
}
.photo-grid__item {
  margin: auto;
  max-width: 100%;
  height: auto;
  /* left: 676px;
  top: 2082px;*/
  align-items: center;
}
/*media querie for photo grid*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    /* margin: auto;*/
    padding: 92px 5% 92px 5%;
    max-width: 1024px;
    grid-template-columns: auto auto auto;
    gap: 14px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .photo-grid {
    /* margin: auto;*/
    padding: 88px 3% 88px 3%;
    max-width: 768px;
    grid-template-columns: auto auto;
    gap: 3%;
  }
}
@media screen and (max-width: 424px) {
  .photo-grid {
    /* margin: auto;*/
    padding: 64px 5% 16px 5%;
    max-width: 768px;
    grid-template-columns: auto;
    gap: 12px;
  }
}

/*cards*/
.place-container {
  margin: auto;
  max-width: 1280px;
}
.place {
  margin: auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: auto 35% 3% 38% auto;
  grid-template-rows: 156px 48px auto;
}

.place__title {
  margin: 0;
  grid-column-start: 2;
  grid-row: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: end;

  /* identical to box height, or 106% */

  color: #ffffff;
}
.place__image {
  grid-column: 2;
  grid-row: 3;

  width: 100%;
  height: auto;
}

.places__website {
  grid-column: 4;
  grid-row: 1;
  align-self: end;
}
.places__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height, or 122% */
  text-decoration-line: underline;

  color: #ffffff;
}
.places__url-heading {
  /*grid-column: 4;
  grid-row: 1;
  align-self: end;*/
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;

  /* or 20px */
  letter-spacing: 0.2em;

  color: #aaaaaa;
}
.test-paragraph {
  grid-column: 4;
  grid-row: 3;
}
.place__paragraph {
  margin: 0px;
  padding-bottom: 25px;

  /* font-family: Inter;*/
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;

  /* or 29px */

  color: #ffffff;
}
/*media queries for place cards*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: auto 42% 3% 44% auto;
    grid-template-rows: 156px 48px auto;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .place {
    grid-template-columns: auto 44% 3.6% 46% auto;
    grid-template-rows: 50px 48px auto;
  }
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
  .places__link {
    font-size: 12px;
    line-height: 100%;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
  /*MQ below is broken, background color only works at 425px */
  @media screen
  and (max-width: 424px) {
    .place {
      margin:0;
      padding: 0;
      grid-column: 1;
      grid-row: 1;
      /*grid-template-columns: 5% 90% 5%;*/
       grid-template-columns: 100vw;
      grid-template-rows: auto;
      background-color:pink;
    }
    .place__image {
      margin: 0;
      padding: 30px 0 32px 0;
      grid-column: 1;
      grid-row: 4;
    }
    .place__title {
      margin: 0;
      padding: 48px 16px 16px 16px;
      grid-column: 1;
      grid-row: 1;
      font-size: 32px;
      line-height: 109%;
    }
    .places__website {
      margin: 0;
      padding: 30px 16px 16px 16px;
      grid-column: 1;
      grid-row: 3;
      align-self: end;
    }
    .places__link {
      margin: 0;
      padding: 12px 16px 16px 0;
      /*grid-column: 1;
      grid-row: 2;*/
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.2em;
    }
    .test-paragraph {
      margin: 0;
      padding: 0;
      grid-column: 1;
      grid-row: 5;
      font-size: 16px;
      line-height: 163%;
    }
    .place__paragraph {
      margin: 0;
      padding: 0 16px 0 16px;
     /* grid-column: 2;
      grid-row: 5;
      font-size: 16px;
      line-height: 163%;*/
    }



/*cover-aj*/
.cover__background {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: calc(100% - 10%);
  height: auto;
  color: #fff;
  text-decoration: none;
  background-image: url(../Images/photo-grid-highway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cover__background:hover::before {
  opacity: 0.3;
}
.cover__title {
  margin: 20% 0 0;
  padding: 0;
  /*font-family: Inter;*/
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;

  /* identical to box height, or 106% */
  text-align: center;

  color: #fffdfd;
  z-index: 1;
}
.cover__subtitle {
  margin: 0;
  padding: 0 33% 20% 33%;
  /*font-family: Inter;*/
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  /* or 122% */
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

/*cover image*/
.cover {
}
.covers {
}

.cover__background {
  margin: auto;
  width: calc(1280px - 96px);
  height: 100vh;
  background-color: pink;
  background-image: url("../Images/photo-grid-highway.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}
.cover__overlay {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;

  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.cover__title {
  margin: 0;
  opacity: 1;
  padding-top: 283px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106%*/

  text-align: center;
  z-index: 1;
  color: rgb(255, 253, 253, 1);
}
.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122%*/

  text-align: center;

  color: #ffffff;
}

.footer-left {
  margin: auto;
  padding: 92px 0 24px 0;
  max-width: calc(100% - 10%);
  height: auto;
  color: #ffffff;
}
.footer__link {
  padding-right: 18px;
  color: #ffffff;
  text-decoration: none;
  float: left;
}
.footer__copyright {
  float: right;
  color: #ffffff;
  text-decoration: none;
}



.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 1184px;
align-content: center;
margin: auto;
text-decoration: none;

}
.footer__column {
  margin: 0;
  max-width: 1280px;
  text-decoration: none;
}
.footer__column_content_left {
}
.footer__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;

}
.footer__link-left {
  margin: 0;
  padding-right: 18px;
  color: #ffffff;
  text-decoration: none;


}
.footer__link-right {
  text-decoration: none;

  color: #ffffff;
}

.copyright {
  text-decoration: none;
}
  }
