.page {
  /*display: flex;
  justify-content: center;*/

  background: #2a2c2f;
  color: #ffffff;
  max-width: 1280;
  height: auto;
}

/*header*/
.header {
  margin: auto;
  padding-top: 34px;
  width: 984px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
}
.header__lang-links {
  color: white;
}
.header__lang-link {
  color: #ffffff;
}

/*lead*/
.lead {
  margin: auto;
  padding-top: 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.lead__title {
  margin: auto;
  padding-top: 58px;
  width: 720px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;

  /* or 104% */
  text-align: center;

  color: #ffffff;
}
.lead__subtitle {
  margin: auto;
  padding-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #ffffff;
}
/*CLASS BELOW NEEDS TO BE BEM*/
.test-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lead__image {
  margin: auto;
  padding-top: 64px;
  width: 984px;
  /*width: 76vw;*/
  height: auto;
}
.lead__caption {
  margin: 0 px;
  align-self: flex-start;
}
.intro {
  margin: auto;
  width: 984px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
}
.intro__title {
  margin: 0;
  padding-top: 92px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  /* or 107% */

  color: #ffffff;
}
.intro__subtitle {
  margin: 0;
  padding-top: 40px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  /* or 142% */

  color: #ffffff;
}
.intro__text {
  margin: 0;
  padding-top: 32px;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;

  /* or 26px */

  color: #ffffff;
}
.intro__list {
  margin: 0;
  padding: 33px 0 0 0;
  max-width: 690px;
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;

  /* or 150% */

  color: #ffffff;
}

/*gallery
.test-parent {
  display: flex;
  justify-content: center;
}*/
.photo-grid {
  margin: auto;
  width: 1280px;

  display: grid;
  padding: 92px 48px 0 48px;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-rows: auto;
  gap: 16px;
}
.photo-grid__item {
  margin: auto;
  max-width: 100%;
  height: auto;
  /* left: 676px;
  top: 2082px;*/
  align-items: center;
}

/*cards*/
.place-container {
  margin: auto;
  width: 984px;
}
.place {
  margin: auto;
  display: grid;
  grid-template-columns: 460px 40px 484px;
  grid-template-rows: 156px 48px 600px;
  width: 984px;


}
.place {
  /*display: flex;
 flex-flow: column-wrap;
 justify-content: space-between;
  margin: auto;
  width: 984px;*/
}
.place__title {
  margin: 0;
  grid-column-start: 1;
  grid-row: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: end;

  /* identical to box height, or 106% */

  color: #ffffff;
}
.place__image {
  grid-column: 1;
  grid-row: 3;

  width: 460px;
height: 460px;
}

.places__website {
  grid-column: 3;
  grid-row: 1;
  align-self: end;

}
.places__link {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

/* identical to box height, or 122% */
text-decoration-line: underline;

color: #FFFFFF;

}
.places__url-heading {
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;

  /* or 20px */
  letter-spacing: 0.2em;

  color: #AAAAAA;
}
.test-paragraph {
  grid-column: 3;
  grid-row: 3;
}
.place__paragraph {
  margin: 0px;
  padding-bottom: 25px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;

/* or 29px */

color: #FFFFFF;

}
/*cover-aj*/
.cover__background {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;


  width: calc(100% - 10%);
  height: 100%;
  color: #fff;
  text-decoration: none;
  background-image: url(../Images/photo-grid-highway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}
.cover__background::before {
  content:"";
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cover__background:hover::before {
  opacity: 0.3;

}
.cover__title {
  margin: 20% 0 0;
  padding: 0;
  font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;

/* identical to box height, or 106% */
text-align: center;

color: #FFFDFD;
z-index: 1;

}
.cover__subtitle {
  margin: 0;
  padding: 0;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

/* or 122% */
text-align: center;

color: #FFFFFF;
z-index: 1;


}

/*cover image*/
/*.cover {
}
.covers {
}

.cover__background {
  margin: auto;
  width: calc(1280px - 96px);
  height: 100vh;
  background-color: pink;
  background-image: url("../Images/photo-grid-highway.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}
.cover__overlay {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;

  /*display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.cover__title {
  margin: 0;
  opacity: 1;
  padding-top: 283px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106%

  text-align: center;
  z-index: 1;
  color: rgb(255, 253, 253, 1);
}
.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122%

  text-align: center;

  color: #ffffff;*/
}
/*
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 1184px;
align-content: center;
margin: auto;
text-decoration: none;

}
.footer__column {
  margin: 0;
  max-width: 1280px;
  text-decoration: none;
}
.footer__column_content_left {
}
.footer__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;

}
.footer__link-left {
  margin: 0;
  padding-right: 18px;
  color: #ffffff;
  text-decoration: none;


}
.footer__link-right {
  text-decoration: none;

  color: #ffffff;
}

.copyright {
  text-decoration: none;
}*/
